[Unit]
Description=Restart redshift on resume
After=suspend.target

[Service]
ExecStart=/usr/bin/systemctl --user restart redshift.service

[Install]
WantedBy=suspend.target
